// script.wxs

function toDate(date_str)
{
  if(date_str===undefined) return;

  var yyyyMMdd = date_str.toString();
  var sYear = yyyyMMdd.substring(0,4);
  var sMonth = yyyyMMdd.substring(4,6);
  var sDate = yyyyMMdd.substring(6,8);
  return [sYear, sMonth, sDate].join('.');//join('-');
};

module.exports = {
  toDate: toDate,
};